@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);

    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);

    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);

    --primary: 'Raleway', sans-serif;
    --secondary: 'Open Sans', sans-serif;
}
body{
    /*background-color: var(--Light-Grayish-Blue);*/
    background-color: #fff;
    
}
header{
    display:flex;
    justify-content: space-between;
    align-items:center; 
}
a:hover{
    opacity: .6;
}
header,
.illustration,
.title{
    padding:2rem 1.5rem;
}

.logo img{
    width:95px;
}
.nav{
    display:flex;
    flex-direction: row;
}
.nav li{
    list-style-type: none;
    padding-left:10px;
}
.nav li a{
    text-decoration: none;
    font-family: var(--primary);
    color:var(--Light-Gray);
    font-size:18px;
    font-weight: 400;
}
.nav li a:hover{
    color:darkgray;
}
.illustration img{
    padding-top:4rem;
    width:100%;
}
.title{
    padding-top: 1.5rem;
    text-align: center;
}
.title h1{
    font-family: var(--secondary);
    font-size: 29px;
    font-weight: 600;
    line-height: 2.5rem;
    color:var(--Very-Dark-Blue)
    
}
.title p{
    padding:1.5rem 0rem;
    font-family: var(--secondary);
    line-height: 1.5rem;
    font-size: 17px;
    color:#000;
}
.buttons{
    padding:0 .9rem;
    display: flex;
    row-gap: 1.3rem;
    flex-direction: column;
}
.buttons input{
    height:50px;
}
.buttons input::placeholder{
    color:darkgray;
    padding-left:20px;
    font-size: 20px;
}
.buttons a{
    text-decoration: none;
    color:#fff;
    font-weight:600;
    padding:15px 0;
    font-size:20px;
    font-family: var(--primary);
    background-color: var(--Bright-Blue);
}
.curve img{
    width:100%;
    padding-top:6rem;
    display:block;
    
}
.curve,
.submain{
    padding-left:0;
    padding-right:0;
}
.submain{
   padding-bottom:6rem;
    background-color: var(--Light-Grayish-Blue);
}
.submain img{
    width:100%;
    display:block;
    opacity:.8;   
}
.submain h2{
    padding-top:5rem;
    color:var(--Very-Dark-Blue);
    font-family:var(--primary);
    font-size: 20px;
    text-align: center;
    font-weight:700;
    padding-bottom: 2rem;
}
.submain p{
    padding:0 1.5rem;
    color:var(--Light-Gray);
    font-family: var(--secondary);
    line-height:22px;
}

.btn{
    display:flex;
    align-items: center;
    padding:2rem 1.5rem;
    text-decoration:underline;
    font-size:17px;
    text-underline-offset: 10px;
    justify-content: center;
    word-spacing: 3px;
    color:var(--Moderate-Cyan)
}
.submain a img{
    width:20px;
}
.comment{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    column-gap:1rem;
    margin:0 2rem;
    padding:1.5rem 1.5rem;
    align-items: left;
    border-radius:10px;
}
.comment img{
    width:22px;
    padding-bottom:5px;
}
.comment p{
    padding:0 0 15px 0;
    color:var(--Very-Dark-Blue);
    font-size:13px;   
}
.profile{
    display:flex;
    flex-direction: row;
    column-gap:1rem;
    align-items: center;
}
.profile img{
    width:40px;
    border-radius: 50%;
}
.info h3{
    font-family: var(--primary);
    color:var(--Very-Dark-Blue);
    font-size:14px;
    font-weight:700;
}
.info  h5{
    font-family: var(--secondary);
    color:var(--Light-Gray);
    font-size:12px;
}

.signup{
    background-color: var(--Desaturated-Blue);
}
.section-1{
    padding:3.5rem 2.8rem 0 2.8rem;
    text-align: center;
}
.section-1 h2{
    font-family: var(--primary);
    color:#fff;
    padding-bottom:1rem;
}
.section-1 p{
    color:var(--Light-Gray);
    font-family: var(--secondary);
    font-weight:500;
    font-size:17px;
    padding-bottom:1rem;
}
.section-2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    row-gap: .5rem;
    padding:0  3rem 3.5rem 3rem;
}
.section-2 input{
    height:50px;
    border-radius:5px;
}
.section-2 input::placeholder{
    font-size:1.2rem;
    padding-left:20px;
}
.section-2 a{
    text-decoration: none;
    text-align: center;
    padding-top:13px;
    color:#fff;
    font-size:20px;
    font-family: var(--primary);
    font-weight: 600;
    background-color: var(--Bright-Blue);
    height:50px; 
}
footer{
    font-family: var(--secondary);
    padding:3.5rem 3rem;
    background-color: var(--Very-Dark-Blue);
}

.company{
    padding-bottom:2rem;
    padding-top:2rem;
}
.company p{
    color:var(--Light-Gray)
}
.phone{
    display:flex;
    flex-direction: row;
    padding-bottom:1rem;
    font-size: 17px;
}
.email{
    display:flex;
    flex-direction: row;
    font-size:17px;
}
.about{
    color:var(--Light-Gray);
    font-size:17px;
}
.about ul li:first-child{
    padding-top:.5rem;
}
.about ul li{
    list-style-type: none;
    padding-bottom: .5rem;
}
.about ul li a{
    text-decoration: none;
    color:var(--Light-Gray);
    font-size: 17px;
}

.contact{
    color:var(--Light-Gray);
    font-size: 17px;
    padding-top:2rem;
    padding-bottom:2rem;
}
.contact ul li{
    list-style-type:none;
    padding-top:.5rem;
}
.contact ul li a{
    text-decoration: none;
    color:var(--Light-Gray);
}
.social ul{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.social ul li a{
    font-size:20px;
    color:var(--Light-Gray);
    padding:10px;
   
    
}
.social ul li{
    border:1px solid var(--Light-Gray);
    border-radius: 50%;
    list-style-type: none;
    margin-right:10px;
}

footer ul li a:hover{
    color:#fff;
}


@media only screen and (min-width: 992px){
    .nav li{
        padding:0 1rem;
    }
    header{
        padding-left:4rem;
        padding-right:4rem;
    }
    .main-page{
        padding-left:4rem;
        padding-right:4rem;
    }
    .illustration img{
        padding-top:1.5rem;
        width:600px;
        float:right;
    }
    .title{
        display:flex;
        flex-direction:column;
        text-align: left;
    }
    .buttons{
        display:flex;
        column-gap: .5rem;
        flex-direction: row;
    }
    .title h1{
        font-weight:900;
        font-size:2rem;
        padding-top:3rem;
    }
    .title p{
        font-size:14px;
    }
    .buttons input{
        width:18rem;
    }
    .buttons a{
        padding:13px 10px 8px 10px;
        font-size: 17px;
        border-radius:5px;
    }
    .curve{
        width:100%;
    }
    /*submain starts*/
   .submain{
    display:flex;
    flex-direction: row;
   }
   .submain img{  
        float:right;
        width:300px;
   }
    .main-left{
        float:left;
    }
    /*submain ends*/

    /*Signup starts*/
    .signup{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        padding:3rem;
    }
    .section-1{
        text-align: left;
    }
    .section-1 h2{
        font-size: 32px;
    }
    .section-2{
        padding-top:3rem;
    }
    .section-2 input{
        width:450px;
    }
    .section-2 a{
        width:200px;
        padding: 15px 10px;
        font-size: 15px;
    }
    /*signup ends*/

    /*footer*/

    footer{
        display:flex;
        flex-direction:row;
        align-items:top;
        justify-content: space-between;
    }
    
    
    
    /*footer ends*/
}